@import "~bootstrap/scss/bootstrap.scss";

.vl {
    border-left: 0.4rem solid black;
    height: 4rem;
    top: 0
}

.stickArea {
    display: flex;
    justify-content: center;
}

.container {
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
}
.light {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0.5;
}
.red {
    background-color: red;
    margin-bottom: 0.5rem;
}
.yellow {
    background-color: yellow;
    margin-bottom: 0.5rem;
}
.green {
    background-color: green;
    margin-bottom: 0.5rem;
}
.active{
    opacity: 2;
}